<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'includes/meta.html' %}
  <title>Nicholas Kersulis{% block title %}{% endblock %}</title>
  {% include 'includes/typekit.html' %}
  {% block head_css %}
    <link rel=stylesheet href={{ url_for('static', filename='css/main.css') }}?6>
  {% endblock %}
  {% assets 'img_favicon' %}
  <link rel=icon
        type=image/png
        href={{ ASSET_URL }} >
  {% endassets %}
</head>
<body>
{% block body %}
<div class="wrap site">
  <header>
    <h1><a href={{ url_for('kersulis_main.index') }}>Nicholas Kersulis</a>
    </h1><span>
    <a href={{ url_for('kersulis_main.acquaint') }}>?</a></span>
  </header>
  <main class=cf>
    {% block main %}{% endblock %}
  </main>
  <footer>
    {% block footer %}
    <small>
      all content copyright &copy; 2018 Nicholas Kersulis, except where noted.
    </small>
    {% endblock %}
  </footer>
</div>
{% endblock %}
{% block bodyjs %}{% endblock %}
</body>
</html>
