{% extends 'base.html' %}
{% block robots %}<meta name=robots content=noindex>
<meta name=googlebot content=noindex>{% endblock %}
{% block body %}
<div class="wrap site" style=padding-top:2em>

  <p>This site was built in the northwest side of Chicago
    during the late summer of 2018. Artwork and writing was
    supplied by Nicholas Kersulis. Design, development,
    and editing was supplied by Nathan Matteson.

  <p>Many clean dishes and even more laughs were
    supplied by Barbara Raidl. An incredibly important
    computer charger was supplied through USPS by
    Sergio Torres-Torres. But it wasn't important after
    all due to another charger supplied by Shiro Akiyoshi.
    Morris Fuller Benton supplied a wicked typeface. Woodbury
    University supplied a grant to help make it possible.</p>

  <p><a lang=pl href=https://www.youtube.com/watch?v=-1-z48cJDbc>
    Chleb</a> is Polish for bread.</p>

  <ul class="humans list root">
    <li><a>Nicholas Kersulis / kersulis.com / Los Angeles CA</a></li>
    <li><a>Nathan Matteson \ skeptic.ist \ obstructures.org \ Chicago IL</a></li>
  </ul>

</div>
{% endblock %}