{% extends 'base.html' %}
{% block main %}
<ul class='worklist list root'>
  <li class=worktype>
    <h2><a>
      physical work
    </a></h2>
    {% include 'includes/physical_work.html' %}
  </li>
  <li class=worktype>
    <h2><a>
      online work
    </a></h2>
    {% include 'includes/online_work.html' %}
  </li>
</ul>
{% endblock %}
{% block bodyjs %}
{#  <script src="https://d3js.org/d3.v4.min.js"></script>#}
{#  <script src={{ url_for('static', filename='js/main.js') }}?3></script>#}
{% endblock %}
