@charset "UTF-8";
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

q {
  quotes: "‘" "’" "“" "”"; }
  q:before {
    content: open-quote; }
  q:after {
    content: close-quote; }

* {
  padding: 0;
  margin: 0;
  font-size: 1.05rem;
  font-weight: normal;
  color: #36454f; }

html, body {
  height: 100%;
  width: 100%; }

body {
  font-family: "franklin-gothic-urw", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", "FranklinGothic", Arial, sans-serif;
  background-color: #ffffff; }

ul {
  list-style-type: none; }

p {
  line-height: 1.4rem;
  margin-left: 1rem;
  margin-right: 0.5rem; }
  p + p {
    margin-top: 0.5em; }

b, strong {
  font-weight: normal; }

a {
  text-decoration: none;
  color: inherit; }

blockquote {
  line-height: 1.4rem;
  margin: 0.5em 2rem 0.5em 2rem;
  font-style: italic; }

cite {
  font-style: inherit; }

small {
  display: block;
  color: #b2beb5; }

h1, .email {
  background-color: #36454f;
  color: #ffffff;
  line-height: 1em;
  display: inline-block;
  padding: 0.33rem 1rem 0.33rem 1rem; }
  h1:hover, .email:hover {
    background-color: #ffffff;
    color: #36454f; }

h1 + span {
  line-height: 1em;
  display: inline-block;
  padding: 0.33rem 1rem 0.33rem 1rem;
  background-color: #b2beb5;
  color: #ffffff;
  padding-left: 0.5em;
  padding-right: 0.5em;
  position: relative;
  margin-left: 0.855rem; }
  h1 + span a:hover {
    color: #36454f; }
  h1 + span:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0.855rem solid transparent;
    border-bottom: 0.855rem solid transparent;
    border-right: 0.855rem solid #b2beb5;
    color: #b2beb5;
    display: inline-block;
    right: 100%;
    top: 0; }

header {
  padding: 4rem 0 1rem;
  position: fixed;
  background-color: #ffffff;
  width: 100%; }

main {
  padding: 7.5rem 0 4rem; }

footer {
  margin-top: 9rem;
  margin-bottom: 3rem; }
  footer small {
    margin-left: 1rem; }
  footer p {
    font-size: 0.75rem; }
  footer a {
    color: #989898; }

.wrap {
  position: relative;
  margin: 0 auto;
  width: 100%; }
  @media (min-width: 600px) {
    .wrap {
      width: 800px; } }

.acquaint, p + .list.root {
  margin-top: 3rem; }

.worklist a, .acquaint a, .network a, .humans a {
  line-height: 1em;
  display: inline-block;
  padding: 0.33rem 1rem 0.33rem 1rem;
  background-color: #ffffff;
  color: #36454f; }
  .worklist a[href]:hover, .acquaint a[href]:hover, .network a[href]:hover, .humans a[href]:hover {
    background-color: #36454f;
    color: #ffffff; }
    .worklist a[href]:hover .date, .acquaint a[href]:hover .date, .network a[href]:hover .date, .humans a[href]:hover .date {
      color: #ffffff; }
.worklist .email, .acquaint .email, .network .email, .humans .email {
  background-color: #36454f;
  color: #ffffff; }
  .worklist .email[href]:hover, .acquaint .email[href]:hover, .network .email[href]:hover, .humans .email[href]:hover {
    background-color: #ffffff;
    color: #36454f; }

.worktype h2 a {
  background-color: #36454f;
  color: #ffffff;
  line-height: 1em;
  display: inline-block;
  padding: 0.33rem 1rem 0.33rem 1rem; }

.workpiece .workpiece {
  margin-left: 1rem; }

.work {
  margin-top: 0.33rem; }
  .work figure {
    padding: 1.33rem 0 0; }
  .work img {
    display: block;
    width: 100%; }
  .work figcaption {
    padding: 1.33rem 0 0;
    margin-left: 1rem; }

span[lang] {
  font-style: italic; }

/*# sourceMappingURL=main.css.map */
