// Clearfixing rules for floated elements
.cf:before, .cf:after
  content: ' '
  display: table
.cf:after
  clear: both
// Single quotes for <q> tags
q
  quotes: "‘" "’" "“" "”"
  &:before
    content: open-quote
  &:after
    content: close-quote
