// Colors
$jet: #343434
$gunmetal: #2a3439
$charcoal: #36454f
$marengo: #4c5866
$darkslategray: #2f4f4f
$grey27: #454545
$ashgrey: #b2beb5
$grey80: #cccccc
$black: $charcoal
$grey: $ashgrey
$white: #ffffff

// Font list for Franklin Gothic
$fgstack: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', 'FranklinGothic', Arial, sans-serif

// Dimensions
$typesize: 1.05rem
$lineheight: 1.4rem
$paraspacing: .5em
$top: .33rem
$bottom: .33rem
$left: 1rem
$right: 1rem

// CSS mixins
@mixin boxlabel
  line-height: 1em
  display: inline-block
  padding: $top $right $bottom $left
@mixin blacklabel
  background-color: $black
  color: $white
@mixin whitelabel
  background-color: $white
  color: $black
@mixin greylabel
  background-color: $grey
  color: $white