// Essential CSS, not site-specific
@import imports/helpers
// Variables and mixins
@import imports/styles
// @media query framework
@import imports/media

*
  padding: 0
  margin: 0
  font-size: $typesize
  font-weight: normal
  color: $black
html, body
  height: 100%
  width: 100%
body
  font-family: 'franklin-gothic-urw', $fgstack
  background-color: $white

// Essential typographic styling
ul
  list-style-type: none
p
  line-height: $lineheight
  margin-left: $left
  margin-right: $right/2
  &+p
    margin-top: $paraspacing
b, strong
  font-weight: normal
a
  text-decoration: none
  color: inherit
blockquote
  line-height: $lineheight
  margin: $paraspacing $right*2 $paraspacing $left*2
  font-style: italic
cite
  font-style: inherit
small
  display: block
  color: $grey
h1, .email
  @include blacklabel
  @include boxlabel
  &:hover
    @include whitelabel

// Questionmark label next to <h1>
h1+span
  @include boxlabel
  @include greylabel
  padding-left: $paraspacing
  padding-right: $paraspacing
  position: relative
  margin-left: ($typesize+$top+$bottom)/2
  a:hover
    color: $black
  &:before
    content: ''
    position: absolute
    width: 0
    height: 0
    border-top: ($typesize+$top+$bottom)/2 solid transparent
    border-bottom: ($typesize+$top+$bottom)/2 solid transparent
    border-right: ($typesize+$top+$bottom)/2 solid $grey
    color: $grey
    display: inline-block
    right: 100%
    top: 0

// Macro layout
header
  padding: 4rem 0 1rem
  position: fixed
  background-color: $white
  width: 100%
main
  padding: 7.5rem 0 4rem
footer
  margin-top: 9rem
  margin-bottom: 3rem
  small
    margin-left: $left
  p
    font-size: .75rem
  a
    color: #989898
.wrap
  position: relative
  margin: 0 auto
  width: 100%
  @include for-size(tablet-portrait-up)
    width: 800px

// <ul> styling. .worklist > .worktype > .workpiece are used on homepage.
// .acquaint, .network, and .humans and pages with those filenames.
.acquaint, p+.list.root
  margin-top: 3rem
.worklist, .acquaint, .network, .humans
  a
    @include boxlabel
    @include whitelabel
    &[href]:hover
      @include blacklabel
      .date
        color: $white
  .email
    @include blacklabel
    &[href]:hover
      @include whitelabel
.worktype
  h2 a
    @include blacklabel
    @include boxlabel
.workpiece
  .workpiece
    margin-left: $left

// Styling for portfolio pages
.work
  margin-top: $top
  figure
    padding: ($top+1rem) 0 0
  img
    display: block
    width: 100%
  figcaption
    padding: ($top+1rem) 0 0
    margin-left: $left

// Only used for Polish in humans.txt as of Sept 2018
span[lang]
  font-style: italic
