<meta charset=UTF-8>
<meta name=viewport content='width=device-width, initial-scale=1.0'>

<meta http-equiv=Content-Security-Policy
      content="default-src 'self';
      script-src 'self' d3js.org 'unsafe-inline' *.typekit.net;
      img-src 'self' *.typekit.net;
      font-src *.typekit.net;
      style-src 'self' 'unsafe-inline'">
{% block robots %}<meta name=robots content=index,follow>
<meta name=googlebot content=index,follow>{% endblock %}
<meta name=format-detection content='telephone=no'>

<meta name=HandheldFriendly content=True>
<meta name=MobileOptimized content=320>

<link rel=canonical href={{ request.url }}>
<link rel=author href={{ url_for('kersulis_main.humans') }}>
<link rel=license href={{ url_for('kersulis_main.copyright') }}>

<meta name=description content='The online portfolio of LA-based visual artist Nicholas Kersulis'>

<meta property=og:site_name content='Nicholas Kersulis'>
<meta property=og:image content='{{ request.host }}{{ url_for('images.crop',
           filename='projects/{}/02RedBlue Mirror_Greycard.jpg'.format('greyscale'),
           width=image_width,
           quality=image_quality) }}'>
<meta property=og:type content=website />

<meta name=twitter:image content='{{ request.host }}{{ url_for('images.crop',
           filename='projects/{}/02RedBlue Mirror_Greycard.jpg'.format('greyscale'),
           width=image_width,
           quality=image_quality) }}'>
<meta name=twitter:image:alt content='Nicholas Kersulis experimenting with chroma and value.'>
<meta name=twitter:card content=summary_large_image>
