<ul>
  <li class=workpiece>
    <a href={{ url_for('kersulis_main.construction') }}>
      coming soon
{#      the daylight grew dim and when candles were lit the glass#}
{#      of the windows became dark, shutting out the landscape#}
{#      as the walls defied its expanse.#}
    </a></li>
</ul>