<ul>

  <li class=workpiece>
    <a href={{ url_for('kersulis_main.project',
               _project='greyscale') }}>
      the image-world will outlast us all
    </a></li>

  <li class=workpiece>
    <a href={{ url_for('kersulis_main.project',
               _project='monochrome_intervention') }}>
      monochrome intervention
    </a></li>

  <li class=workpiece>
    <a href={{ url_for('kersulis_main.project',
               _project='within_without') }}>
      within without the space of a corner
    </a></li>

{#  <li class=workpiece><a>#}
{#    film series</a>#}
{#    <ul>#}

      <li class=workpiece>
        <a href={{ url_for('kersulis_main.project',
                   _project='mind_your_manners_asshole') }}>
          mind your manners, asshole
        </a></li>

      <li class=workpiece>
        <a href={{ url_for('kersulis_main.project',
                   _project='what_sexual_revolution') }}>
          what sexual revolution?
        </a></li>

      <li class=workpiece>
        <a href={{ url_for('kersulis_main.project',
                     _project='anarchy_love_spectacle') }}>
          anarchy/love/spectacle
        </a></li>

{#    </ul></li>#}

  <li class=workpiece>
    <a href={{ url_for('kersulis_main.project',
               _project='everyday_objects') }}>
      everyday objects for a table
    </a></li>

  <li class=workpiece>
    <a href={{ url_for('kersulis_main.project',
               _project='circular_panels') }}>
      circular panels
{#      <span class=date>2008</span>#}
    </a></li>

</ul>