{% extends 'base.html' %}
{% block title %}: acknowledgments{% endblock %}
{% block main %}
  <p>Deep thanks to Sergio Torres-Torres for years-long
    discourse about art, philosophy, and life in all its
    complexity. The development of my work would not have
    occurred without him.</p>

  <p>This website came out of a conversation with Nathan Matteson
    who understood the abstract concepts and visual thinking behind
    my work, and a simultaneous understanding of how online media
    works. Crucial to any translation is a balance between fidelity
    and transparency. Conversations grew over time as did our
    ability to build a digital framework that holds fast to the
    antagonism between the discrete object and the continuous image.
    Editing texts and images to work well together took far more
    time than expected!</p>

  <p>Peter Lynde, who’s generosity only begins with the photography
    used in my work and for most of the installation shots used on
    this site. The nuances in my work depend heavily upon tactile
    perception. Rather than this being an obstacle, it was seen as
    a challenge: making it hard to discern authorship at times.</p>

  <p>Thanks to Mary Leclère for offering her understanding of my
    work, conversing about art historical references, and articulating
    difficult concepts that would have been stumbled over if it
    were not for her persistence with explanation.</p>

  <ul class='acquaint list root'>
    <li><a class=email href=mailto:nickersulis@yahoo.com>
      nickersulis@yahoo.com</a></li>
    <li><a href={{ url_for('kersulis_main.statement') }}>
      artist's statement
    </a></li>
    <li><a href={{ url_for('kersulis_main.network') }}>
      network
    </a></li>
    <li><a href={{ url_for('kersulis_main.acquaint') }}>
      artist's bio
    </a></li>

  </ul>

{% endblock %}