{% extends 'base.html' %}
{% block main %}

  <p>Nicholas Kersulis is an artist who works in Los Angeles.
    He received his BFA from CalArts and his MFA from UCLA
    in the Interdisciplinary Studio Specialization. He has had
    solo exhibitions in Los Angeles and Houston, and has been in
    several group exhibitions internationally, including the
    MexiCali Biennial 09/10, the 2008 Houston Area Exhibition
    at the Blaffer Museum of Art, Learning by Doing: 25 Years
    of the Core Program at the Museum of Fine Arts, Houston, and
    One Hundred Artists See God (Independent Curators International).
    He has been a participant in residency fellowships including
    The Banff Centre of the Arts; the Core Artist in Residence
    Fellowship at The Museum of Fine Arts, Houston, and the
    Ucross Foundation Residency Program.</p>

  <ul class='acquaint list root'>
    <li><a class=email href=mailto:nickersulis@yahoo.com>
      nickersulis@yahoo.com</a></li>
    <li><a href={{ url_for('kersulis_main.statement') }}>
      artist's statement
    </a></li>
    <li><a href={{ url_for('kersulis_main.network') }}>
      network
    </a></li>
    <li><a href={{ url_for('kersulis_main.acknowledgments') }}>
      acknowledgments
    </a></li>

  </ul>
{% endblock %}