{% extends 'base.html' %}
{% block title %}: network{% endblock %}
{% block main %}
  <ul class='network list root'>
    <li><a href=https://www.banffcentre.ca/>
      Banff Centre of the Arts</a></li>
    <li><a href=https://www.biennialwatch.com/>
      Biennial Watch</a></li>
    <li><a href=http://blafferartmuseum.org/>
      Blaffer Museum</a></li>
    <li><a href=https://calarts.edu/>
      CalArts</a></li> 
    <li><a href=http://secondarytext.com/>
      Anthony Carfello</a></li>
    <li><a href=http://sookim.org/>
      Soo Kim</a></li>
    <li><a href=http://limin.al/>
      Limin.al</a></li>
    <li><a href=http://skeptic.ist>
      Nathan Matteson</a></li>
    <li><a href=http://mexicalibiennial.org/200910-2/>
      MexiCali Biennial 2009/10</a></li>
    <li><a href=https://en.wikipedia.org/wiki/Dwayne_Moser>
      Dwayne Moser</a></li>
    <li><a href=https://www.mfah.org/fellowships/core-program/>
      Museum of Fine Arts Houston Core Program</a></li>
    <li><a href=https://www.youtube.com/watch?v=_cz5zm5z_b0>
      Otis Department of Fine Art Visiting Artist</a></li>
    <li><a href=https://www.art.ucla.edu/interdisciplinary-studio/alumni.html>
      UCLA Interdisciplinary Studio Alumni</a></li>
    <li><a href=https://en.wikipedia.org/wiki/Mexicali_Biennial>
      Amy Pederson-Converse</a></li>
    <li><a href=https://art.northwestern.edu/visiting-artists/sergio-torres-torres-2010
           style=padding-right:.2rem>
        Sergio
      </a><a href=http://www.remahortmannfoundation.org/project/sergio-torres-torres/
         style=padding-left:.2rem>
        Torres–Torres</a></li>
    <li><a href=https://www.hatchfund.org/showcase/nicholas_kersulis_recent_works>
      United States Artists Project Grant</a></li>
    <li><a href=http://www.ucrossfoundation.org/residency-program/>
      Ucross Foundation Residency Program</a></li>
    <li><a href=http://www.sergiobromberg.com/art-prostituta-1/>
      Venice6114</a></li>
    <li><a href=https://www.printedmatter.org/catalog/39607/>
      X-tra The Benefit of Friends Collected, Vol. 2</a></li>
    <li><a href=http://art.yale.edu/Norfolk>
      Yale Norfolk</a></li>
  </ul>

  <ul class='acquaint list root'>
    <li><a class=email href=mailto:nickersulis@yahoo.com>
      nickersulis@yahoo.com</a></li>
    <li><a href={{ url_for('kersulis_main.statement') }}>
      artist's statement
    </a></li>
    <li><a href={{ url_for('kersulis_main.acquaint') }}>
      artist's bio
    </a></li>
    <li><a href={{ url_for('kersulis_main.acknowledgments') }}>
      acknowledgments
    </a></li>

  </ul>

{% endblock %}