{% extends 'base.html' %}
{% block title %}: artist's statement{% endblock %}
{% block main %}
  <p>Nicholas Kersulis’ practice applies systems of organization
    to cultural artifacts through formal devices such as montage,
    accretion, and erasure, and through the conventions of exhibition
    display and graphic design. Built into the resultant system is
    an implicit absurdity that questions the objectivity of the
    system itself—a systematic critique of systems in the form
    of a system.</p>
  <p>In the same way that the illusion of space within a picture
    plane contradicts the object (i.e. the the stretcher bar defines
    the object itself, while the application of paint defines an
    illusion through paint), the ‘external’ context of exhibition
    co-exists and is in dialogue with the ‘internal’ relations
    between the artworks themselves.  This dialogue between the
    space of exhibition, and the artworks within that space is
    informed by montage—where the process of selecting, editing,
    or piecing together separate objects form a continuous whole—often
    employed as a montage of spatial disorientation in order
    to support psychological disorientation.  Disorientation that
    intends to disrupt the spectacle culture that we endure
    in everyday life.</p>
  <p>Experienced in real-time these installations of paintings,
    photographs, and sculptures request that an observer slow down
    the onslaught of images that we experience daily: both online
    and in real life. Improvised responses to architectural details
    or idiosyncrasies of the physical space of exhibition are
    integral to these systems. Often the exhibitions emphasize
    details of interior architecture that counter the conventions
    of exhibition display, which typically frame the gallery as
    a ‘white cube’. For example, the wrap-around wall drawing at
    Venice6114 that subtlety enhanced the various mismatched
    levels of the gallery floor: for some it went unnoticed, for
    others this gesture appeared as a false reveal, and yet for
    others it evoked an imaginary flood line.</p>
  <p>Currently Kersulis is exploring these concepts and maneuvers
    within the contexts of non-physical spaces. Theoretically
    the internet is an infinite space, but our engagement with
    its contents is finite and defined by our individual identity
    and by our physical interactions with it. Limited by these
    real-life, physical engagements with the ‘space’ of the
    internet, the limitlessness becomes an illusion.</p>

  <ul class='acquaint list root'>
    <li><a class=email href=mailto:nickersulis@yahoo.com>
      nickersulis@yahoo.com</a></li>
    <li><a href={{ url_for('kersulis_main.acquaint') }}>
      artist's bio
    </a></li>
    <li><a href={{ url_for('kersulis_main.network') }}>
      network
    </a></li>
    <li><a href={{ url_for('kersulis_main.acknowledgments') }}>
      acknowledgments
    </a></li>

  </ul>
{% endblock %}