{% extends 'base.html' %}
{% block title %}: anarchy/love/spectacle{% endblock %}
{% block main %}
  <div class=work>

{#    <h2>anarchy/love/spectacle</h2>#}

    <p><i>anarchy/love/spectacle</i> is both a film series and a
      ‘movie poster’ that celebrates twenty-two films that
      depict rebellious and anarchistic collective behavior,
      or focus on an individual subject’s interior psychological
      struggle. Set up as a continuous series of films, the
      40-hour screening is shown over a period of days. The
      opening and closing of the venue may interrupt the screening
      of one of the films and, when this occurs, the film will be
      picked up where it left off the day before. The interior
      of the exhibition room is darkened for the projection of
      the films, and an exterior wall of the darkened space
      supports a ‘movie poster,’ which is painted on canvas and
      riveted so that it can be easily transported and reinstalled.</p>

    <p>The historical importance of the films in <i>a/l/s</i>
      is without doubt, but the films I chose also hold personal
      memories. Unlike film series that appear to offer an
      ‘objective survey’ of a particular genre or period,
      autobiographical factors led me to this group of films.
      For cinephiles and record collectors alike, pop culture
      plays an important role in self-discovery, and my subjective
      experience of the films in the series became the final
      determinant in choosing them.</p>

    <p>The films are shown in reverse chronology, with regard to
      the era they depict rather than the era they were made.
      Godard’s <i>Alphaville</i> begins the series because it
      exists in a continuous present, or the forever distant future,
      depending on how one sees things today. Contrast this to
      Luchino Visconti’s epic <i>The Leopard</i>—a period film made
      in the 1960s which takes place a century beforehand in the
      1860s—divulges as much about the counterculture at the time
      of its making as the period it represents.</p>

    <p>No matter the historicity of an event, our personal
      experience with representation influences, even though
      we may remain unaware, how we internalize these events
      as facts. The like-mindedness that forms around
      representations of events, even among strangers,
      is unavoidable.</p>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/ALS_Install_2006.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>anarchy/love/spectacle</i> installed at New Langton Arts,
          San Francisco, California
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/ALS_overall-canvas.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>anarchy/love/spectacle</i> (movie poster); acrylic paint and
        gesso on canvas with grommets; 81 &times; 81”
      </figcaption>
    </figure>

  </div>
{% endblock %}
