{% extends 'base.html' %}
{% block title %}: circular panels{% endblock %}
{% block main %}
  <div class=work>

    <p>The physical framework of <i>circular panels</i> is a wall
      constructed at a diagonal within the exhibition space.
      One side of the wall is painted a neutral, pale grey,
      upon which eleven circular, white Plexiglas panels,
      themselves painted with multiple gestures of white gesso,
      spread across from one end to the other. Each circular
      panel is screwed into the wall through its center—the fastener
      left visible to denote each panel’s geometric center and
      the imbalance among and within them, as the center of each
      gesture shifts from left to right on the x-axis. Studio
      photographs of the panels are mounted onto thick Plexiglas
      squares that hang directly on the opposing side of the
      freestanding wall. The photographs occupy an ambiguous
      space somewhere between product photography and fine art
      documentation.</p>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/01Circular Panels_Houston.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>circular panels</i> installed at the Blaffer Art Museum,
        Houston, Texas, 2008; free standing wall, 8 &times; 13’ one
        side painted white, the other grey; gesso on 1/16” plexiglas
        circles that are 12” diameter; fastener; c-prints mounted
        onto 3/4” plexiglas panels, each 13” square
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/05Circular Panels_ 16to1_Photos.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>circular panels</i> (verso)
      </figcaption>
    </figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/03Circular Panels_detail_photo.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>circular panels</i> (verso), detail
      </figcaption>
    </figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/06Circular Panels_16to1_gesso.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>circular panels</i> (recto)
      </figcaption>
    </figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/04Circular panels_detail_gesso.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>circular panels</i> (recto), detail
      </figcaption>
    </figure>

  </div>
{% endblock %}
