{% extends 'base.html' %}
{% block title %}: everyday objects for a table{% endblock %}
{% block main %}
  <div class=work>

    <p><i>everyday objects for a table</i> combines found
      rocks, coated with repeated brushstrokes of gesso, and
      the studio table upon which they were made. The size
      and shape of the brushstroke is determined by each
      rock—the most basic sculptural form found in nature.
      The rocks are chosen based upon how I see their potential
      accommodation of the brushstroke. This mirroring aspect
      between the choosing and the making of the gestures
      complicates the separation of the two materials that
      make up each sculpture: the organic matter of the rock,
      and the gesso build-up are bound together through a
      reflexive process of choosing and making.</p>

    <p>At this point, each <i>rock</i> is deemed finished when the
      buildup of gesso is equal in thickness to the found rock.
      The detail shot of everyday objects for a table shows the
      <i>rocks</i> placed in a way similar to how they were when
      I worked on them in the studio: respecting that I'm right
      handed, the distance I could reach, and so on.</p>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/01Everyday Objects_rocks_Houston_162.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>everyday objects for a table (rocks)</i> installed at the
          Blaffer Art Museum, Houston, Texas, 2008
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/02Everyday Objects for a Table_abstract detail_144.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>everyday objects for a table (rocks)</i> detail
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/03Everyday Objects_Studio_181.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>everyday objects for a table (rocks)</i>
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/04Everyday Objects_production 291.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>everyday objects for a table (rocks)</i> studio production
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/05Everyday Objects for a Table (rocks) detail small grey recto_2009.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>everyday objects for a table (rocks)</i> detail
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/06Everyday Objects for a Table (rocks) detail_Ojai 2003.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>everyday objects for a table (rocks)</i> detail
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/07Black Rocks_Punk Povera Title Card_website.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>everyday objects for a table (rocks/taos/rumsfeld)</i>
        title card for Punk Povera, Hollywood, California, 2016
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/08everyday objects (rocks, taos, rumsfeld).jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>everyday objects for a table (rocks/taos/rumsfeld)</i> 2010
          layers of black gesso brush marks piled up onto found
          rocks from Taos, New Mexico, placed onto a studio work
          table; tabletop painted grey.
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/09Everyday Objects for a Table (Taos)_photocard2010.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>everyday objects for a table (rocks/taos/rumsfeld)</i> 2010 detail
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/10Everyday Objects (rocks, taos, rumsfeld)_detail.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>everyday objects for a table (rocks/taos/rumsfeld)</i> detail
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/11Everyday Objects (rocks, taos, rumsfeld)_detail_floating.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>everyday objects for a table (rocks/taos/rumsfeld)</i> detail
      </figcaption></figure>

  </div>
{% endblock %}
