{% extends 'base.html' %}
{% block title %}: the image-world will outlast us all{% endblock %}
{% block main %}
  <div class=work>

    <blockquote>It was formerly believed that if all material things
      disappeared out of the universe, time and space would
      be left. According to relativity theory, however, time
      and space disappear together with the things.</blockquote>

    <p>And so in 1921, <cite>Albert Einstein</cite> explained his theory
      of relativity with a ‘joke’. It continues to fascinate
      that words, space, time, and events are inextricable.
      Art activates events: it conflates our perceptions of
      the external world with inner shifts in our thinking
      and our views of history. <i>The image-world</i> (a proposal
      for an exhibition) takes the concept of the grey scale
      from photography and brings it into real-life. It fuses
      together painted abstractions dependent upon variations
      in tone with photographs: color photographs that
      represent subject matter that naturally exists within
      the grey scale, such as a newspaper clipping photographed
      on a grey wall or a re-photographed black & white print.</p>

    <p><i>stereoscopic greyscale_13</i> (pictured below) uses a
      range of colors pulled from a Kodak grey scale card.
      Ideally, five photographs would be accompanied by five
      <i><a href={{ url_for('kersulis_main.project',
                    _project='monochrome_intervention') }}>
              monochrome interventions</a></i>
      installed throughout a gallery: blackest
      black, white, nearly black, nearly white, and a middle
      grey. Added to these paired
      <i><a href={{ url_for('kersulis_main.project',
                    _project='monochrome_intervention') }}>
              monochrome interventions</a></i> and photographs
      would be greyscale pendant pairs such as the one
      pictured and a large scale painting that competes
      with the architecture.</p>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/01StereoscopicGreyscale_13.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>stereoscopic greyscale_13</i> 2018; acrylic on linen;
        each canvas 24 &times; 44”, hung two inches apart
        one atop the other
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/02RedBlue Mirror_Greycard.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        locating a medium grey
      </figcaption></figure>

  </div>
{% endblock %}
