{% extends 'base.html' %}
{% block title %}: mind your manners, asshole{% endblock %}
{% block main %}
  <div class=work>

    <p>The title for this film series is a phrase that stood out
      after reading Ascent of the <i>A-Word: Assholism, the First
        Sixty Years (2012)</i>, by <cite>Geoffrey Nunberg</cite>, who points
      to the <q>paradoxical irony</q> in rudely pointing out
      others’ rudeness that is at the core of the phrase.
      <cite>Nunberg</cite> expands upon the <q>asshole-baiting
        style of political discourse</q>, linking it to
      (amongst many other factors) the personalization of political
      discourse, the technology of modern communication, and to
      a collective character disorder. The increased usage of
      ‘asshole’ during the late 20th c. parallels the takeover
      of counter culture by commercial pop culture at the
      century’s end.</p>

    <p>The films listed for this series are bound to my understanding
      of counter culture and its influence on art, social concerns,
      and politics. After years of watching, reading, and listening
      to art related to counter culture, it has become clear that the
      historical precedents that spawned this counter culture, the
      contexts that it left behind, and the detritus that have
      taken its place have all became obstacles in the realization
      of much of my work.</p>

    <p></p>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/MYMA_overall canvas_preview.jpeg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>mind your manners, asshole</i> (movie poster); acrylic paint
        on canvas with grommets; 81 × 81"
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/MYMA_detail_preview.jpeg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>mind your manners, asshole</i> (movie poster) detail
      </figcaption>
    </figure>

  </div>
{% endblock %}
