{% extends 'base.html' %}
{% block title %}: monochrome intervention{% endblock %}
{% block main %}
  <div class=work>

{#    <h2>monochrome intervention</h2>#}

    <p><i>monochrome intervention</i> is made up of a group of
      square canvases hung vertically floor to ceiling without gaps.
      The surfaces of these white monochromes are the same, but
      the depth of the individual canvases varies according
      to a rake—a sloped or inclined angle that goes from two to
      three inches across its vertical axis. The sides of each
      canvas are painted repeatedly two inches from the back of
      the stretchers, which form a very thin ‘frame’ made up
      of many layers of polished high gloss oil-based paint. This
      oil-based paint forms a virtual stripe down the side of
      this totemic installation.</p>

    <p>The matte surface of the paintings contrasts with the
      faux frame, and creates an illusion that the rake of shaped
      canvases and their painted surface become one material:
      white pigment. Observable in person, but not so much in
      photographs, this detail engages the viewer in real space.</p>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/01Monochrome Intervention_Installation.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>monochrome intervention (white)</i> installed at 6114Venice,
          Los Angeles, California, 2015; acrylic and oil on canvas;
          composed of five parts; 110 &times; 24” overall; depth variable,
          some canvases rake from two to three inches
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/02Monochrome Intervention Installation_middle.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>monochrome intervention (white)</i> detail
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/03Monochrome Intervention Installatio_base.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>monochrome intervention (white)</i> detail; this image also
          shows a small segment of the wall drawing that went around
          the base of the gallery walls of Venice6114
      </figcaption></figure>

  </div>
{% endblock %}
