{% extends 'base.html' %}
{% block title %}: what sexual revolution?{% endblock %}
{% block main %}
  <div class=work>

{#    <h2>what sexual revolution?</h2>#}

    <p><i>what sexual revolution?</i> pits the banality of
      monochromatic painting against a sculptural structure,
      flicker film, and an anecdote about early childhood
      experience with modern art. The two sections of this
      structure are joined together at a wide angle, like
      an open book. With systematically painted marks of
      gesso built up after many coats, the canvas ‘movie
      poster’ on the right section lists some fifty films
      from memory. Replicating the split-second aspect of
      visual memory, the flicker film/video projected onto
      the left section uses about five-hundred stills
      (shown over the course of 3 minutes), which were
      taken from the films listed in the poster. The entire
      composite attempts to make montage physical: where
      each form employed cancels out the context of the other,
      to develop a continuous trans-modal experience. Behind
      the ‘movie poster’ hangs an anecdote in mirrored vinyl,
      which reflects reading viewers. Written in the first
      person, it tells of a memory that informs how pop
      culture is bound up with high art.</p>

    <p>The film titles in the ‘movie poster’ are in alphabetical
      (arbitrary) order, beginning with the edges of the canvas
      and working inward. Some film titles from the early
      painting of the list are systematically erased: letters
      painted out from their interior with a reverse logic
      that formed the letters. Each mark is building up a
      surface that points out the structure of marks that
      came together to form the letters, then words, and then
      the ‘whole’ or continuous design. Many, many layers of
      gestural marks were required to bridge the area between
      the linear, time-based nature of text and the immediate,
      spatial nature of visual abstraction.</p>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/01WSR_back video_viewer.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>what sexual revolution?</i> installed at the Ben Maltz
        Gallery in Los Angeles for the MexiCali Biennial 09/10, 2010
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/02WSR_wideshot_viewer_elephant.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>what sexual revolution?</i> 2010; canvas, gesso, grommets,
        gallery wall paint, MDF, traditional gesso, vinyl lettering,
        wood, and a 3-minute video ‘flicker film’; each section of
        structure: 10 &times; 8’ high; floor braces are 24” deep
      </figcaption>
    </figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/03WSR_wideshot_viewer_2films.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>what sexual revolution?</i> recto
      </figcaption>
    </figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/04WSR_anecdote view.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>what sexual revolution?</i> verso
      </figcaption>
    </figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/05WSR_anecdote detail.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>what sexual revolution?</i> anecdote detail<br>
        Candy looked like Grace Slick with straight hair—petite
          and outrageously dressed compared to my Catholic family.
          She chain-smoked the whole drive to the city and back.
          “Save the Country” was on the radio when I got into her
          burgundy Beetle, excited to go to the art museum and maybe
          the zoo. On our way she wanted to stop at the park to see
          two friends. A group had gathered around, to listen to
          the one in lotus position playing a guitar I'd never
          seen before, with two necks.<br>
        The gallery never changed. From when I was around six
          until I was a teenager, it had the same paintings installed
          on the same walls. I liked that it was always there. But
          that day, with Candy, the art was different. The large
          panels separating the colors of the rainbow were heavier;
          the paint that poured down either side of a huge blank
          canvas was more sensational; the blue dots, coupled
          sometimes, on a red background vibrated behind my eyelids.
          In front of Joseph Albers' series of concentric yellow
          squares, I remembered my visit here with my parents and
          how pissed off my father was after he saw those. All
          the way home, his refrain: “I could do that!”
      </figcaption>
    </figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/06WSR_monochrome.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>what sexual revolution? (movie poster)</i> detail
      </figcaption>
      </figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/07WSR_center detail 2_3MB.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
        <figcaption>
          <i>what sexual revolution? (movie poster)</i> detail
        </figcaption>
      </figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/08WSR_center detail 3_3.6MB.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
        <figcaption>
          <i>what sexual revolution? (movie poster)</i> detail
        </figcaption>
      </figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/09WSRposter_overall_3MB.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
        <figcaption>
          <i>what sexual revolution? (movie poster)</i> detail;
          gesso on canvas with grommets; 81 × 81"
        </figcaption>
      </figure>



  </div>
{% endblock %}
