{% extends 'base.html' %}
{% block title %}: within without the space of a corner{% endblock %}
{% block main %}
  <div class=work>

    <p>Six of these works combine a framed photograph with a group
      of five paintings (either oil on jute or oil on canvas). All
      of these composite works utilize particular proximities
      between their parts, best activated when in relation to an
      actual architectural corner. It is especially apparent for
      <i>within without the space of a corner (not there—here)</i>,
      which is comprised of two door-sized black mirrors that
      temporally reflect viewers themselves. Mirrors continually
      change what they represent, and this ever-changing reflection
      best reveals what <i>within/without</i> attempts to do as art:
      <i>(not there—here)</i> is an operative work where
      representation is continuously becoming self-reflexive.
      The work consistently changes <em>what</em> or <em>who</em> it represents,
      dependent upon the observer and the internalized contexts
      they inject into the space of the work.</p>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/03WWSC_Wandering_BW.jpg'.format(project),
           width=image_width,
           quality=image_quality) }}
           alt>
      <figcaption>
        <i>within without the space of a corner (he spent days wandering
          with headphones on, lest he forget his heritage)</i> 2010–2013;
          oil on jute on panels comprising five parts 78 &times; 73”;
          c-print mounted on aluminum and framed 24¼ &times; 16¼”
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/01WWSC_Wandering_1985.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        artist’s photograph; caption reads “The difference within—’God
          Save The Queen She Ain’t No Human Being’”
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/02WWSC_Wandering_BW_detail.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (he spent days wandering
          with headphones on, lest he forget his heritage)</i> detail
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/04WWSC_After Death_RB.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (after death,
          but before burial)</i> 2013; oil on jute on panels comprising
          five parts 76 &times; 72 &times; 1¾”; c-print mounted on
          aluminum and framed 24¼ &times; 16¼”
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/05WWSC_After Death_1966.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (after death,
          but before burial)</i> detail
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/06WWSC_After Death_RB Panel 1 detail.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (after death,
          but before burial)</i> detail
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/07WWSC_Daydreaming_GG.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (the time spent
          daydreaming is immeasurable)</i> 2013; oil on jute
        on panels comprising five parts 76 &times; 72 &times; 1¾”;
        c-print mounted on aluminum and framed 24¼ &times; 16¼”
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/08WWSC_Daydreaming_1968.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        June 3, 1968: Attempted Assassination of Andy Warhol
        (“Before I was shot, I always thought that I was more
        half-there than all-there—I always suspected that I was
        watching TV instead of living life. People sometimes say
        that the way things happen in movies is unreal, but
        actually, it’s the way things happen in life that’s unreal.
        The movies make emotions look so strong and real, whereas
        when things really do happen to you, it’s like watching
        television—you don’t feel anything. Right when I was being
        shot and ever since, I knew that I was watching television.
        The channels switch, but it's all television.”)<br><br>
        June 5, 1968 Assassination of Robert F. Kennedy (As a staff
        photographer for Look magazine in 1968, Paul Fusco was
        commissioned to document all the the events surrounding the
        RFK funeral, including the eight-hour journey from New York
        to Washington D.C. on the train that carried Kennedy’s coffin.
        Shooting approximately 2,000 pictures from inside, Fusco had
        a unique vantage point resulting in one of the most powerful
        and affecting series of photographs ever taken. He captured
        the thousands of Americans from every section of society—black,
        white, poor, rich—who stood by the railroad tracks to pay
        their final respects to Bobby Kennedy).
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/09WWSC_Daydreaming_GG detail.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (the time spent
          daydreaming is immeasurable)</i> detail
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/10WWSC(Not There---Here).jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (not there—here)</i>
        2013/2015; two black mirror panels installed equidistant from
        a corner 78 &times; 35 &times; ¼” each
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/11WWSC(Not There---Here)_Detail 1_Corner.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (not there—here)</i> 2015
        detail
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/12WWSC(Not There---Here)_reflection detail.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (not there—here)</i> 2013
        detail
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/13WWSC(he spent days wondering)_BWtrain.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (he spent days
          wondering if he could forget his heritage)</i> 2013; oil
        on canvas, comprising five parts 76 &times; 72 &times; 1¾”; c-print
        mounted on aluminum and framed 24¼ &times; 16¼”
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/14WWSC(he spent days wondering)_2011.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        video stills appropriated from a Youtube video of the 2011 London
        riots; this bystander footage shows the second robbery of
        Ashraf Rossli, a Malaysian student who was beaten and robbed
        twice by looters; captions transcribed from the uploaded video.
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/15WWSC(he spent days wondering)_BWdetail.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (he spent days wondering
          if he could forget his heritage)</i> detail
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/16WWSC_TV Eye_RB.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (he got his TV eye
          on you)</i> 2013; oil on canvas, comprising five parts
        76 &times; 72 &times; 1¾”; c-print mounted on aluminum
        and framed 24¼ &times; 16¼”
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/17WWSC_TV Eye_2013.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        c-print depicts several self-portraits taken using a mirror,
        the camera blocking portions of the artist’s face; both captions
        read the same: ‘The present moment always gone.’
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/18WWSC_TV Eye_RBdetail.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (he got his TV eye
          on you)</i> detail
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/19WWSC_Be Here I_GG_Paul.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (be here I)</i> 2013;
        oil on canvas, comprising five parts 76 &times; 72 &times; 1¾”;
        c-print mounted on aluminum and framed 24¼ &times; 16¼”
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/20WWSC_(Be Here I)_readable caption_2012.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        artist’s photograph depicts a six-foot jute panel used in
        another work with its color de-saturated: the shown mirror
        image, however, retains its red/blue contrasting hues;
        caption reads, ‘This photograph has been manipulated using
        Photoshop. The area that represents the surface of one of my
        paintings has been desaturated of chroma, while the mirror
        image retains actual coloration.’
      </figcaption></figure>

    <figure>
      <img src={{ url_for('images.crop',
           filename='projects/{}/21WWSC_Be Here I_GGdetail.jpg'.format(project),
           width=image_width,
          quality=image_quality) }}
          alt>
      <figcaption>
        <i>within without the space of a corner (be here I)</i> detail
      </figcaption></figure>

  </div>
{% endblock %}
